
body {
  background-image: url(assets/bg.jpg);
  background-size: cover;
}

#page {
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto;
  /* margin-top: 48px; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px; */
}

img {
  border-radius: 16px;
}